<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <add name="azure" connectionString="Server=tcp:r0655332.database.windows.net,1433;
         Database=WPFOpdracht;User ID=sacharypens@r0655332;Password=pikachu123!;
         Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />

  <add name="local"
         connectionString="Server=(localdb)\MSSQLLocalDB;
           Integrated Security=true;AttachDbFileName=C:\Users\wpf\WPF.mdf;" />
</configuration>